.blogPageBody {
      background-color:#cadcd8;
}

.grid-container {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Blog1 Blog1 Blog1 Menu"
      "Blog2 Blog2 Blog2 Menu";
}
.blog1 { 
    grid-area: Blog1;
    background-color: #ffffff;
    padding:10px;
    border-right: 2px solid black;
}
.blog2 { 
    grid-area: Blog2; 
    background-color: #ffffff;
    padding:10px;
    border-right: 2px solid black;
    border-top: 2px solid black;
}
.menu { grid-area: Menu; 
    background-color: #ffffff;
    padding:10px;}

.blogLink {
    display: block;
    text-decoration:underline;
    color:#0645AD;
}