.checkoutContainer { /* "." for class, "#" for id*/
    width: 80%;
    background-color:#ffffff;
    margin:auto;
    overflow-x:visible;
    padding:10px;
    height: 85%;
}

.label {
    display:flex;
    flex-direction:row;
    width: 80%;
    
}

.productLink {
    margin-top: 2%;
}

.total {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.total p {
    padding-right:15.5%;
}

.label label {
    flex:1;
}

.label input {
    flex:1;
}


#city {
    width:10%;
}
#state {
    width:10%;
}
#zip {
    width:10%;
}

.checkoutList p {
    display: inline-block;
    min-width: 33%;
    text-align: center;
}

.payment {
    padding-bottom:20px;
    border-bottom: 2px solid black;
}

.checkoutList {
    border-bottom: 2px solid black;
}

.checkoutTotal {
    display: inline-block;
}
