.productcontainer { /* "." for class, "#" for id*/
    width: 80%;
    margin: auto;
    overflow-x:auto;
    padding: 10px;
    background-color:#ffffff;
}

.fpcont {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

/** box style*/

.box {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:13px;
    margin-right:13px;
    border: 1px solid #ccc;
    display:flex;
    flex-direction:row;
    width: 22%;
    align-items: center;
    
    
}

.box img {
    width: 80%;
    align-items:center;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.box p {
    text-align:center;
    word-break: break-word;
    color:#000000;
}

.box a {
    text-decoration: none;
    
}

.headline {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    padding-right:3%;
    padding-left:1%;
}

.headline p {
    
}