.storeGalleryBody { /* "." for class, "#" for id*/
    width: 80%;
    overflow-y:visible;
    margin: auto;
    padding: 10px;
    background-color:#ffffff;
    
}
.storecontainer { /* "." for class, "#" for id*/
    width: 100%;
    overflow-x:auto;
    overflow-y:visible;
    margin: auto;
    background-color:#ffffff;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.storeGalleryHeader {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-right:6.5%;
    padding-left: 6.5%;
}

.storeGalleryHeader select {
    height: 30px;
    width: 20%;
}

/** box style*/

.storebox {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:13px;
    margin-right:13px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction:row;
    width:27%;
    align-items:center;
    
}

.storebox img {
    width: 80%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.storebox p {
    text-align:center;
    word-break: break-word;
    color:#000000;
    margin:0;
}

.storebox a {
    text-decoration: none;
    
}