.checkoutContainer { /* "." for class, "#" for id*/
    width: 80%;
    background-color:#ffffff;
    margin:auto;
    overflow-x:visible;
    padding:10px;
    height: 85%;
}


.checkoutContainer input {
    width: 30%;
}

#city {
    width:10%;
}
#state {
    width:10%;
}
#zip {
    width:10%;
}

.checkoutList p {
    display: inline-block;
    min-width: 33%;
    text-align: center;
}
